:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.outerGrid {
  background-color: #C4DAD2;
  display: grid;
  grid-template-columns: 1fr 1fr; 
  width: 800px;
  height: 900px;
  border: 2px solid w#16423C;
  border-radius: 10px;
  padding: 20px;
  gap: 20px;
}

.leftGrid {
  background-color: #16423C;
  width: 100%; 
  height: 900px;
  border: 2px solid #16423C;
  border-radius: 5px;
}

.rightGrid {
  background-color: #16423C;
  border-radius: 5px;
  width: 100%; 
  height: 900px;
}

h3{
  text-align: start;
  margin-left: 10px;
}

.generateTaskNumbers{
  width: 95%;
  height: 50px;
  margin-left: 8px;
  justify-items: start;
  gap: 10px;
}

.priorityQueue1{
  background-color: #16423C;
  width: 100%; 
  height: 200px;
  border: 1px solid #16423C;
  gap: 5px;
}

.regularQueue2{
  background-color: #16423C;
  width: 100%; 
  height: 200px;
  border: 1px solid #16423C;
  gap: 5px;
}

.regularQueue3{
  background-color: #16423C;
  width: 100%; 
  height: 200px;
  border: 1px solid #16423C;
  gap: 5px;
}

.regularQueue4{
  background-color: #16423C;
  width: 100%; 
  height: 200px;
  border: 1px solid #16423C;
  gap: 5px;
}

h4{
  text-align: left;
  margin: 10px;
}

.generateTaskNumbers {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto; 
  padding: 10px;
}

.durations{
  margin-left: 10px;
}

.taskList {
  display: flex;
  flex-direction: row;

}

.taskItem {
  display: flex;
  flex-direction: column; /* Arrange number and duration in columns */
  align-items: flex-start; 
  padding: 5px;
}